footer{
    background-color: var(--background-color);
    border: 1px solid var(--background-color);
}

.footer-above__title{
    font-size: 16px;
    padding: 10px 0;
    position: relative;
}

.footer-above__title::after{
    content: "";
    position: absolute;
    width: 50px;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #267ffc;
}

.footer-above__ul{
    padding: 0;
    list-style: none;
}

.footer-above-ul__li{
    color: var(--text-color);
    font-size: 14px;
    margin-top: 15px;
    
}

.footer-above__form{
    display: flex;
    border: 1px solid var(--border-color);

}

.footer-above-input__email{
    height: 40px;
    width: 100%;
    border: none;
    padding: 0 15px;
    outline: none;
}

.footer-above-input__submit{
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 0 15px;
}

.footer__below .page-width{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 13px;
}

.footer__below{
    border-top: 1px solid var(--border-color);
}

.footer-below__copyright{
    font-size: 11px;
}

.footer-below__social{
    display: flex;
    gap: 10px;
}

.footer-below-social__link{
    padding: 5px;
    display: block;
    background-color: var(--background-color);
    border-radius: 5px;
}

.footer-below-social__icon{
    height: 20px;
    border-radius: 5px;
}

@media (min-width: 768px) {

    .footer-above-row{
        display: flex;
        justify-content: space-between;
        padding: 60px 0;
    }
    
    .footer-above__col{
        width: 100%;
        flex: 1;
    }
    
    .footer-above__col--2{
        flex: 2;
    }
    
    .footer-above__title{
        font-size: 16px;
        padding: 10px 0;
        position: relative;
    }
    
    .footer-above__title::after{
        content: "";
        position: absolute;
        width: 50px;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid #267ffc;
    }
    
    .footer-above__ul{
        padding: 0;
        list-style: none;
    }
    
    .footer-above-ul__li{
        color: var(--text-color);
        font-size: 14px;
        margin-top: 15px;
        padding-right: 50px;
    }


    

    

}
