/* brand */
.brand{
    margin-top: 60px;
}

.brand-row__wrapper{
    margin-top: 15px;
    box-sizing: border-box!important;
}

.brand-row__item{
    display: relative;
}

.brand-row__content{
    display: flex;
    flex-direction: column;
}

.brand-row__thumnail{
    max-width: 100%;
    height: 62px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.brand-row__img{
    width: 100%;
}


/* product */
.product{
    margin-top: 60px;
}

.product-row__header{
    display: flex;
    justify-content: space-between;
}

.product-row-header__title{
    font-size: 22px;
    margin: 0;
    color: var(--title-color);
}

.product-row-header__navigation{
    display: flex;
    gap: 5px;
}

.product-row-header__btn{
    height: 30px;
    border-radius: 5px;
    background-color: var(--background-color);
    cursor: pointer;
}

.product-row-header__btn:hover{
    background-color: var(--btn-hover-color);
}

.product-row__wrapper{
    margin-top: 15px;
    box-sizing: border-box!important;
}

.product-row__item{
    border: 1px solid var(--border-color);
    display: relative;
}

.product-row__sale{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: var(--yellow-color);
    font-size: 11px;
    padding: 3px 5px;
    border-radius: 4px;
}

.product-row__content{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.product-row__thumnail{
    max-width: 100%;
    height: 212px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.product-row__img{
    width: 100%;
}

.product-row__title{
    margin: 15px 0 0 0;
    font-size: 14px;
    height: 42px;
    font-weight: 100;
    line-height: 20px;
    overflow: hidden;
}

.product-row__price{
    margin: 15px 0 0 0;
    
}

.product-row-price__origin{
    color: var(--primary-color);
    font-size: 13px;
}

.product-row-price__sale{
    color: var(--price-color);
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.product-row__viewbtn{
    margin: 15px 0 0 0;
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.product-row__viewbtn:hover{
    background-color: var(--primary-hover-color);
    cursor: pointer;
}


/* post */
.post{
    margin-top: 60px;
}

.post-row__header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}

.post-row-header__title{
    font-size: 22px;
    margin: 0;
    color: var(--title-color);
}

.post-row-header__navigation{
    display: flex;
    gap: 5px;
}

.post-row-header__btn{
    height: 30px;
    border-radius: 5px;
    background-color: var(--background-color);
    cursor: pointer;
}

.post-row-header__btn:hover{
    background-color: var(--btn-hover-color);
}

.post-row__wrapper{
    margin-top: 15px;
    box-sizing: border-box!important;
}

.post-row__item{
    display: relative;
    border-radius: 5px;
    background-color: var(--background-color);
    padding: 15px;
}

.post-row__content{
    display: flex;
    flex-direction: column;
}

.post-row__thumnail{
    max-width: 100%;
    height: 212px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
    overflow: hidden;
    border-radius: 5px;
}

.post-row__img{
    width: 100%;
    border-radius: 5px;
}

.post-row__date{
    margin: 15px 0 0 0;
    font-size: 14px;
    color: var(--primary-color);
}

.post-row__title{
    font-size: 16px;
    margin: 10px 0 0 0;
    color: var(--title-color);
}

.post-row__description{
    margin: 10px 0 0 0;
    font-size: 14px;
    height: 42px;
    font-weight: 100;
    line-height: 20px;
    overflow: hidden;
}

.post-row__viewlink{
    margin-top: 15px;
    font-size: 12px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 600;
}

.post-row__viewlink:hover{
    color: var(--primary-hover-color);
    cursor: pointer;
}

.service{
    margin-top: 60px;
    background-color: var(--primary-color);

}

.service__row{
    display: grid;
    grid-template-columns: auto auto;
}

@media (min-width: 992px) {
    .service{
        padding: 17px 0;
    }

    .service__row{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

.service-row__item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.service-row__item--separate{
    border-right: 1px solid var(--border-color);
}

.service-row-item__icon{
    height: 50px;
}

.service-row-item__text{
    font-size: 10px;
    color: white;
}

@media (min-width: 576px) {
    .service-row-item__text{
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .service-row-item__text{
        font-size: 15px;
    }
}


/* banner */
.banner{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}

.banner__item{
    position: relative;
    margin-top: 15px;
    width: 100%;
}

.banner__img {
    display: block;
    width: 100%;
    border-radius: 5px;
    object-position: right top;
    object-fit: cover;
    height: 200px;
}

@media (min-width: 576px) {
    .banner{
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }

    .banner__item{
        width: 50%;
    }
}

@media (min-width: 992px) {
    .banner__item{
        margin-top: 0;
        width: 100%;
        height: 100%;
    }

    .banner__img {
        height: 230px;
    }
}

.banner__content{
    position: absolute;
    left:20px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner__sale{
    margin: 0;
    font-size: 28px;
    color: var(--primary-color);
}

.banner__title{
    margin: 10px 0 0 0;
    font-size: 22px;
    color: var(--title-color);
}

@media (min-width: 992px) {
    .banner__title{
        font-size: 25px;
    }
}

.banner__viewbtn{
    margin-top: 15px;
    font-size: 15px;
    text-decoration: underline;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 600;
    border: none;
}

.banner__viewbtn:hover{
    background-color: var(--primary-hover-color);
    cursor: pointer;
}

/* breadcrumb */
.breadcrumb{
    height: 100px;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
}

.breadcumb__title{
    font-size: 22px;
    color: var(--title-color);
}

/* Collection */
.collection{
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

.collection__sidebar{
    display: none;
    width: 300px;
    border: 1px solid var(--border-color);
}

@media (min-width: 992px) {
    .collection__sidebar{
        display: block;
        width: 300px;
        border: 1px solid var(--border-color);
    }
}

.collection-sidebar--header{
    padding: 0 15px;
    font-size: 16px;
    color: var(--title-color)
}

.collection-sidebar-ul{
    list-style: none;
    padding: 10px 15px;
    border-top: 1px solid var(--border-color);
}

.collection-sidebar-a{
    text-decoration: none;
    font-size: 15px;
    line-height: 35px;
    color: var(--text-color);
}

.collection__grid{
    width: 100%;
    height: max-content;
    display: grid;
    gap: 10px;
}

@media (min-width: 576px) {
    .collection__grid{
        grid-template-columns: auto auto;
    }
}

@media (min-width: 1100px) {
    .collection__grid{
        grid-template-columns: auto auto auto;
    }
}

.collection-grid__item{
    border: 1px solid var(--border-color);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 16px;
}

.collection-grid-a{
    color: var(--title-color);
    text-decoration: none;
}


/* post grid*/
.post-grid__wrapper{
    margin-top: 60px;
    display: grid;
    gap: 5px;
}

@media (min-width: 768px) {
    .post-grid__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 5px;
    }
}

@media (min-width: 992px) {
    .post-grid__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 5px;
    }
}

@media (min-width: 1100px) {
    .post-grid__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 5px;
    }
}

.post-grid__header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}

.post-grid-header__title{
    font-size: 22px;
    margin: 0;
    color: var(--title-color);
}

.post-grid-header__navigation{
    display: flex;
    gap: 5px;
}

.post-grid-header__btn{
    height: 30px;
    border-radius: 5px;
    background-color: var(--background-color);
    cursor: pointer;
}

.post-grid-header__btn:hover{
    background-color: var(--btn-hover-color);
}

.post-grid__wrapper{
    margin-top: 15px;
    box-sizing: border-box!important;
}

.post-grid__item{
    display: relative;
    border-radius: 5px;
    background-color: var(--background-color);
    padding: 15px;
}

.post-grid__content{
    display: flex;
    flex-direction: column;
}

.post-grid__thumnail{
    max-width: 100%;
    height: 212px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
    overflow: hidden;
    border-radius: 5px;
}

.post-grid__img{
    width: 100%;
    border-radius: 5px;
}

.post-grid__date{
    margin: 15px 0 0 0;
    font-size: 14px;
    color: var(--primary-color);
}

.post-grid__title{
    font-size: 16px;
    margin: 10px 0 0 0;
    color: var(--title-color);
}

.post-grid__description{
    margin: 10px 0 0 0;
    font-size: 14px;
    height: 42px;
    font-weight: 100;
    line-height: 20px;
    overflow: hidden;
}

.post-grid__viewlink{
    margin-top: 15px;
    font-size: 12px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 600;
}

.post-grid__viewlink:hover{
    color: var(--primary-hover-color);
    cursor: pointer;
}